.Join {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Join-header {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  min-height: 48px;
}
